.headers {
  margin-top: 9rem;
  margin-left: 7%;
  display: flex;

  &__title {
    font-family: Roboto, sans-serif;
    font-size: 38px;
    color: #233539;
    letter-spacing: -1.09px;
  }
}

.options {
  margin-top: 2rem;
  margin-left: 70%;
  width: 15%;
  height: 2.5rem;
  display: flex;
  padding: 0.5rem;
  background: rgba(233, 239, 244, 0.48);
  border-radius: 4px;
  border-radius: 4px;

  &__cards {
    width: 40%;
    padding-top: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: #b3b3b3;
    padding: 0.5rem;
    cursor: pointer;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    border-radius: 3px;
  }

  &__table {
    cursor: pointer;
    padding: 0.5rem;
    width: 40%;
    padding-top: 0.5rem;
    color: #b3b3b3;
    border-radius: 0.2rem;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    border-radius: 3px;
  }

  &__text {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    color: #989898;
    letter-spacing: 0;
    margin-left: 0.5rem;
  }
}

.white-background {
  background: #FFFFFF;
}
